body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0ecdc0, #c5c215, #8fb718);
    padding: 30px;
    margin: 0;
    min-height: 100vh; /* agar background selalu penuh layar */
}

.judul-produk {
    display: flex;           /* gambar & teks sejajar horizontal */
    align-items: center;     /* vertical center */
    gap: 15px;               /* jarak antara gambar & teks */
    margin-bottom: 20px;     /* spasi bawah judul */
}

.stiker-img {
    width: 70px;             /* lebar gambar */
    height: 70px;            /* tinggi gambar */
    object-fit: cover;       /* proporsional */
}


h1 {
    color: #000000;        /* warna teks */
    text-align: center;    /* posisi teks di tengah, bisa left / right */
    font-size: 40px;       /* ukuran huruf */
    font-family: 'Arial', sans-serif; /* tipe huruf, bisa diganti misal 'Times New Roman', 'Verdana', dll */
}


.produk, .keranjang {
    /* background-color lama dihapus */
    background: linear-gradient(135deg, 
                #2192c6,  /* hijau muda */
                #7fcf7f,  /* hijau lebih terang */
                #6e7a6e,  /* hijau sedang */
                #3f8f3f); /* hijau tua */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #ffffff; /* teks terlihat jika background gelap */
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.kontrol {
    display: flex;
    flex-direction: column; /* bikin 2 baris */
    align-items: flex-end;
    gap: 5px;
}

.harga {
    font-weight: bold;
}

.qty {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Tombol + dan - */
button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #c5c215;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}

/* Tombol Checkout */
.keranjang button {
    width: 200px;
    height: 45px;
    font-size: 16px;
    margin-top: 15px;
    background-color: #8fb718;
    border-radius: 5px;
}

/* Hover tombol Checkout */
.keranjang button:hover {
    background-color: #ffffff;
}
